<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alejandro.proyectoTrivial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjercicioPeliculas">
        <activity android:name="com.alejandro.proyectoTrivial.listaPreguntas.ListaPreguntasActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alejandro.proyectoTrivial.anadirpregunta.AnadirPreguntaActivity" />
        <activity android:name="com.alejandro.proyectoTrivial.preguntaDetail.PreguntaDetailActivity" />
        <activity android:name="com.alejandro.proyectoTrivial.game.GameActivity" />
        <activity android:name="com.alejandro.proyectoTrivial.game.resultadoRespuestaActivity" />
    </application>

</manifest>